@charset "UTF-8";

#container{
	width: 80%;
	margin: 0 auto;
}
#main{text-align: center;}
h2{
	border-bottom: 2px solid #ccc;
	padding: 16px;
}
.main-pic img{
	width: 40%;
	border-radius: 10px;
}
table{
	border: 1px solid #ccc;
	border-collapse: collapse;
}
table th, td{
	border: 1px solid #ccc;
	padding: 5px 10px;
}
ul li{
	list-style: none;
	margin: 16px;
}
